#!/bin/bash
set -x

AUDITOR="automated"
DATE=$(date +%Y%m%d)
HOST=$(hostname)
LOG_DIR="/var/log/lynis"
REPORT="$LOG_DIR/report-${HOST}.${DATE}.log"
DATA="$LOG_DIR/report-data-${HOST}.${DATE}.log"

FROM="{{ lynis_report_from }}"
TO="{{ lynis_report_to }}"

{% if lynis_deploy_method == "pkg" %}
{% if ansible_os_family == 'Debian' %}
LYNIS_PATH="/usr/sbin/lynis"
{% else %}
LYNIS_PATH="/usr/bin/lynis"
{% endif %}
$LYNIS_PATH audit system --auditor "${AUDITOR}" --cronjob > ${REPORT}
{% else %}
cd /opt/lynis
{% if lynis_deploy_method == "git" %}
git pull
{% endif %}
./lynis audit system --auditor "${AUDITOR}" --cronjob > ${REPORT}
{% endif %}
mv /var/log/lynis-report.dat ${DATA}

find $LOG_DIR -type f -mtime +400 -delete -print

echo "Lynis audit for ${HOST} on ${DATE}: ${REPORT}" |
/usr/bin/mail -s "${HOST}: Lynis audit (${DATE})" -r ${FROM} -a ${REPORT} ${TO}
